@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@500&display=swap');
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.font-lato {
  font-family: 'Lato', sans-serif !important;
}

.font-montserrat {
  font-family: 'Montserrat', sans-serif !important;
}

.MuiListItemText-root:hover {
  font-family: 'Lato', sans-serif !important;
  padding: 0;
}

.MuiTypography-body1 {
  font-family: 'Lato', sans-serif !important;
  font-size: 1.2rem !important;
}

.MuiAppBar-colorPrimary {
  background-color: #f48882 !important;
}

.MuiListItem-root:hover {
  background-color: rgba(0, 0, 0, 0.04) !important;
}

.MuiButton-outlinedPrimary:hover {
  border: 2px solid #ff7770 !important;
  background-color: #ff7770 !important;
}

.MuiButton-containedPrimary {
  background-color: #ff7770 !important;
}

.MuiButton-containedPrimary:hover {
  background-color: #f48882 !important;
}

.MuiButton-label {
  font-family: 'Montserrat', sans-serif !important;
}

.MuiInputBase-input {
  font-family: 'Montserrat', sans-serif !important;
}

.makeStyles-TableHead-7 {
  color: white !important;
  background-color: #ff7770 !important;
}

.MuiTableCell-root {
  font-family: 'Montserrat', sans-serif !important;
}

.makeStyles-TableHead-7 {
  font-family: 'Lato', sans-serif !important;
}

h1 {
  font-family: 'Lato', sans-serif !important;
}
